@keyframes rotate {
  0% {
    transform: rotateY(-45deg);
  }
  50% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(45deg);
  }
}

div#logo3d {
  position: relative;
  perspective: 900px;
  perspective-origin: 50% -100%;
  transform-style: preserve-3d;
}

div#string {
  position: relative;
  transform-style: preserve-3d;
  align-self: center;

  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

div.char,
div.box {
  position: absolute;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

div.face {
  position: absolute;
  border: 1px solid #495057;
  box-sizing: border-box;
}
div.face-green {
  position: absolute;
  background-color: #0b7545;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
}
div.face-yellow {
  position: absolute;
  background-color: #fee25d;
  border: 1px solid #495057;
  box-sizing: border-box;
}
div.shadow {
  position: absolute;
  box-sizing: content-box;
  background-color: #495057;
  border: 1px solid #495057;
  transform-origin: 50% 100%;
}
